/* 
light mode:
  Text = #050505
  Background = #fafafa
  Primary = #815718
  Secondary = #f4f7d4
  Accent = #d73a28


Dark mode:
  Text = #fafafa
  Background = #050505
  Primary = #815718
  Secondary = #282b08
  Accent = #e7897e

font-family: 'Lora', serif;
font-family: 'Lugrasimo', cursive;
font-family: 'Rubik', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Lora', serif;
  /* font-style: italic; */
  font-weight: bold;
}